<% content_for :title do %>Sticker Property Edit<% end %>

<% content_for :actions do %>
<table cellspacing="1" border="0">
<tr><td><%=link_to 'index', sticker_index_path %></td></tr>
<tr><td><%=link_to 'back', sticker_path(@item.id) %></td></tr>
</table>
<% end %>

<!-- form --><% form_for :item, @item, :url => sticker_path(@item), :html => {:method => :put} do |f| %>

<table cellspacing="1" border="0">
<tr><th>-</th>           <td> <%= submit_tag 'Update' %></td></tr>
<tr><th>author</th>      <td> <%=h f.text_field :author %> </td></tr>
<tr><th>title</th>       <td> <%=h f.text_field :title, {:size => 50} %></td></tr>
<tr><th>description</th> <td> <%=h f.text_field :desc %></td></tr>
<tr><th>pubDate</th>     <td> <%= @item.pubdate.to_s(:short) %></td></tr>
<tr><th>enclosure.url</th>
<td>
<% p = url_for :controller => :audio, :action => @item.filename_without_ext, :format => :wav, :only_path => false %>
<a target="_blank" href="<%= p %>"><%= p %></a>
</td></tr> 
<tr><th>enclosure.type</th><td><%= @item.filetype %></td></tr> 
<tr><th>num_frames</th><td> <%= @item.mediaitemshapes.size %></td></tr>
</table>

<!-- form --><% end %>


