<% content_for :title do %> Sticker List <% end %>

<% content_for :actions do %>
<table class="style_table" cellspacing="1" border="0">
<tr>
<td><%= link_to 'new', :action => 'new'%></td>
</tr>
</table>
<% end %>

<!-- form --><% form_tag :action=>:submit_items do %>

<table cellspacing="1" border="0">
<tr><td>
<% options = ''; @channels.each do |i| -%>
<%   if i.selected? -%>
<%     options += "<option value='#{i.id}' selected='selected'>#{i.name} #{i.title}</option>" -%> 
<%   else -%>
<%     options += "<option value='#{i.id}'>#{i.name} #{i.title}</option>"  -%> 
<%   end -%>
<% end -%>
<%= select_tag(:channel_id, options)  %> 
<!-- form --><%= submit_tag 'add to channel', :name=>:add_to_channel %>
</td></tr>
</table>

<h2>Sticker Items</h2>

<table cellspacing="1" border="0">
<tr>
<th>-</th>
<th>author</th>
<th>title</th>
<th>num_frames</th>
<th>date</th>
</tr>
<% @items.each do |i| -%>
<tr>
<td>
<!-- form --><%= check_box_tag 'target_id[]', i.id, @target[i.id] %>
</td>
<td> <%= link_to i.author, :action=>:show, :id=>i.id %></td>
<td> <%= link_to i.title,  :action=>:show, :id=>i.id %></td>
<td> <%= i.mediaitemshapes.size %></td>
<td> <%= i.pubdate.to_s(:short) %></td>
</tr>
<% end -%>
</table>
<!-- form --><% end -%> 

