<h1>Sticker List </h1>

<!-- layout --><table class="layout" cellspacing="1" border="0">
<!-- layout --><tr><td class="layout">
<table class="style_table" cellspacing="1" border="0">
<tr>
<td><%= link_to 'new', :action => 'new'%></td>
</tr>
</table>
<!-- layout --></td><td class="layout">

<!-- form --><% form_tag :action=>:submit_items do %>

<table class="style_table" cellspacing="1" border="0">
<tr><th>Channel <%= @current_channel_name %></th><td><%= @current_channel_title %></td></tr>
</table>

<table cellspacing="1" border="0">
<tr><td>
<% options = ''; @channels.each do |i| -%>
<%   if i.selected? -%>
<%     options += "<option value='#{i.id}' selected='selected'>#{i.title}</option>" -%> 
<%   else -%>
<%     options += "<option value='#{i.id}'>#{i.title}</option>"  -%> 
<%   end -%>
<% end -%>
<%= select_tag(:channel_id, options)  %> 
<!-- form --><%= submit_tag 'add to channel', :name=>:add_to_channel %>
</td></tr>
</table>

<h2>Sticker Items</h2>

<table cellspacing="1" border="0">
<tr>
<th>-</th>
<th>title</th>
<th>desc</th>
<th>date</th>
</tr>
<% @items.each do |i| -%>
<tr>
<td>
<!-- form --><%= check_box_tag 'target_id[]', i.id, @target[i.id] %>
</td>
<td> 
<%= link_to i.title, :action => 'show', :id => i.id %>
</td>
<td> <%= i.desc %></td>
<td> <%= i.pubdate %></td>
</tr>
<% end -%>
</table>
<!-- form --><% end -%> 

<!-- layout --></td></tr></table>
