<h1>Sticker new</h1>

<!-- layout --><table class="layout" cellspacing="1" border="0">
<!-- layout --><tr><td class="layout">

<table cellspacing="1" border="0">
<tr><td><%= link_to 'index', :action =>:index %></td></tr>
</table>

<!-- layout --></td><td class="layout">

<!-- form --><% form_for :mediaitem, @mediaitem,
    :url => { :action => :create },
    :html => { :multipart => true } do |form| %>
<table cellspacing="1" border="0">
<tr><th>Title</th><td>   <%= form.text_field :title %></td></tr>
<tr><th>Desc</th><td>    <%= form.text_field :desc %></td></tr>
<tr><th>Author</th><td>  <%= form.text_field :author %></td></tr>
<tr><th>category</th><td><%= form.text_field :category %></td></tr>
<tr><th>File</th><td>    <%= form.file_field :uploaded_audio %></td></tr>
<tr><th>-</th> <td><%= submit_tag 'update' %></td></tr>
</table>
<!-- form --><% end %>

<!-- layout --></td></tr></table>

