<% content_for :title do %> Sticker Property <% end %>

<% content_for :actions do %>
<table cellspacing="1" border="0">
<tr><td><%=link_to 'upload new', new_sticker_path %></td></tr>
<tr><td><%=link_to 'index', sticker_index_path %></td></tr>
<tr><td><%=link_to 'edit', edit_sticker_path(@item.id) %></td></tr>
<tr><td><%=link_to 'update shape', :action=>:update_shape, :id=>@item.id %></td></tr>
</table>
<% end %>

<table cellspacing="1" border="0">
<tr><th>author</th>  <td><%=h @item.author %></td></tr>
<tr><th>title</th> <td><%=h @item.title %></td></tr>
<tr><th>description</th> <td> <%=h @item.desc %></td></tr>
<tr><th>pubDate</th> <td> <%= @item.pubdate.to_s(:short) %></td></tr>
<tr><th>category</th><td> <%= @item.category %></td></tr>
<tr><th>enclosure.url</th><td>
<!-- TODO: launch audio player -->
<% p = url_for :controller => :audio, :action => @item.filename_without_ext, :format => :wav, :only_path => false %>
<a target="_blank" href="<%= p %>"><%= p %></a>
</td>
<tr><th>enclosure.info</th><td>
length="0" 
type="<%= @item.filetype %>"
</td>
</tr> 
</table>

<!-- layout --></td></tr></table>
