<h1>MediaItem Property Edit</h1>

<table cellspacing="1" border="0">
<tr>
<td>
<%=link_to 'index', :action=>:index, :id=>@item.id %>
</td>	
<td>
<%=link_to 'Back', :action=>:show, :id=>@item.id %>
</td>	
</tr>
</table>

<% form_for :item, @item, :url => { :action => :update, :id=>@item } do |f| %>

<table cellspacing="1" border="0">
<tr><th>title</th> 
<td>
<%= f.text_field :title, {:size => 50} %>
</td>
</tr>
<tr><th>link</th>  
<td><%= url_for :controller => 'caststudio', :action => 'rpc', :only_path => false %>
</td></tr>
<tr><th>description</th> <td>
<%= f.text_field :desc %>
</td></tr>
<tr><th>pubDate</th> <td> <%= @item.pubdate %></td></tr>
<tr><th>author</th>  <td> <%= f.text_field :author %> </td></tr>
<tr><th>category</th><td> <%= f.text_field :category %></td></tr>
<tr><th>enclosure</th><td>
url="<%= url_for :controller => 'audio', :action => @item.filename_without_ext, :format => 'wav', :only_path => false %>"
length="0" 
type="<%= @item.filetype %>"
</td></tr> 
<tr><th></th><td>
<%= submit_tag 'Update' %>
</td></tr>
</table>

<% end %>
