<h1>MediaItem List </h1>

<!-- layout --><table class="layout" cellspacing="1" border="0">
<!-- layout --><tr><td class="layout">
<table cellspacing="1" border="0">
<tr><td><%= link_to 'upload new', :action=>:new %></td></tr>
</table>
<!-- layout --></td><td class="layout">

<!-- form --><% form_tag :action=>:add_to_episode do %>

<table cellspacing="1" border="0">
<tr><td>
<% @episodes.each do |i| %>
<%= radio_button_tag( :episode_id, i.id, i.selected?)  %> 
<%= i.title %>
<% end %>
<!-- form --><%= submit_tag 'add to episode', :name=>:add_to_episode %>
</td></tr>
</table>


<h2>Items</h2>

<table cellspacing="1" border="0">
<tr>
<th>-</th>
<th>title</th>
<th>author</th>
<th>desc</th>
<th>date</th>
<th>category</th>
<th>num_ep</th>
</tr>
<% @items.each do |i| -%>
<tr>
<td>
<!-- form --><%= check_box_tag 'target_id[]', i.id, @target[i.id] %>
</td>
<td> 
<%= link_to i.title, :action => 'show', :id => i.id %>
</td>
<td> <%= i.author %></td>
<td> <%= i.desc %></td>
<td> <%= i.pubdate %></td>
<td> <%= i.category %></td>
<td> <%= i.episodes.size %></td>
</tr>
<% end -%>
</table>

<!-- layout --></td></tr></table>

<!-- form --><% end -%> 
