<%= link_to 'new', :action => 'new'%>

<ul>
<li> Title: <%= @title %>
<li> Link: <%= url_for :controller => 'caststudio', :action => 'rpc', :only_path => false %>
<li> Description: <%= @description %>
<li> Language: <%= @language %>
<li> PubDate: <%= @pubdate %>
<li> Category: <%= @ch_category %>
</ul>

<table class="style_table" cellspacing="1" border="0">
<% @items.each do |i| -%>
<tr>
	
<td> <%= link_to '[show]', :action => 'show', :id => i.id %>
</td>
<td> title <%= i.title %></td>
<td> description <%= i.desc %></td>
<td> pubDate <%= i.pubdate %></td>
<!--
<td> link <%= url_for :controller => 'caststudio', :action => 'rpc', :only_path => false %>
</td>
<li> description <%= i.desc %>
<li> author <%= i.author %>
<li> category <%= i.category %>
<li> enclosure
  url="<%= url_for :controller => 'audio', :action => i.filename_without_ext, :format => 'wav', :only_path => false %>"
  length="0" 
  type="<%= i.filetype %>"
-->
</tr>
<% end -%>
</table>
