<h1>MediaItem List </h1>

<!-- layout --><table class="layout" cellspacing="1" border="0">
<!-- layout --><tr><td class="layout">
<table cellspacing="1" border="0">
<tr><td><%= link_to 'new', :action => 'new'%></td></tr>
<tr><td>
<% @episodes.each do |i| %>
<%= radio_button_tag( :episode, i.title, i.selected?)  %> 
<%= i.title %>
<br />
<% end %>
<%= button_to 'add to episode', :action => 'add_to_episode'%>
</td></tr>
</table>
<!-- layout --></td><td class="layout">

<table cellspacing="1" border="0">
<tr><th> Station Title</th><td> <%= @title %> </td></tr>
<% if false %>
<tr><th> Link</th><td> <%= url_for :controller => 'caststudio', :action => 'rpc', :only_path => false %></td></tr>
<tr><th> Description</th><td> <%= @description %></td></tr>
<tr><th> Language</th><td> <%= @language %></td></tr>
<tr><th> PubDate</th><td> <%= @pubdate %></td></tr>
<tr><th> Category</th><td> <%= @ch_category %></td></tr>
<% end %>
</table>

<h2>Items</h2>

<table cellspacing="1" border="0">
<tr>
<th>-</th>
<th>title</th>
<th>author</th>
<th>desc</th>
<th>date</th>
<th>category</th>
</tr>
<% @items.each do |i| -%>
<tr>
<td>
<%= check_box_tag 'target[]', i.id, @target[i.id] %>
</td>
<td> 
<%= link_to i.title, :action => 'show', :id => i.id %>
</td>
<td> <%= i.author %></td>
<td> <%= i.desc %></td>
<td> <%= i.pubdate %></td>
<td> <%= i.category %></td>
<!--
<td> link <%= url_for :controller => 'caststudio', :action => 'rpc', :only_path => false %>
</td>
<li> description <%= i.desc %>
<li> author <%= i.author %>
<li> category <%= i.category %>
<li> enclosure
  url="<%= url_for :controller => 'audio', :action => i.filename_without_ext, :format => 'wav', :only_path => false %>"
  length="0" 
  type="<%= i.filetype %>"
-->
</tr>
<% end -%>
</table>

<!-- layout --></td></tr></table>
