<% if @current_channel_name %>
<%   channel_info = 'channel ' + @current_channel_name %>
<% else %>
<%   channel_info = 'no channel selected!!' %>
<% end %>
<% content_for :title do %>
Episode List: <%= channel_info %>
<% end %>

<% content_for :actions do %>
<table cellspacing="1" border="0">
<tr><td><%= link_to 'new episode', :action=>:new %></td></tr>
</table>
<% end %>

<h2>episode list</h2>
<table cellspacing="1" border="0">
<tr><th>title</th><th>mediaitems</th><th>cast</th></tr>
<% @episodes.each do |i| %>
<tr>
<td><%=link_to i.title, :action=>:show, :id=>i.id %></td>
<td><%=i.mediaitems.size %></td>
<td><%=link_to 'cast', :controller=>:caststudio, :action=>:run, :format=>:jnlp, :episode_id=>i.id %>
</td>
</tr>
<% end %>
</table>


