<h1>Episode Property: station <%= @current_station %></h1>

<!-- layout --><table class="layout" cellspacing="1" border="0">
<!-- layout --><tr><td class="layout">
<table cellspacing="1" border="0">
<tr><td><%= link_to 'episode index', :action=>:index %></td></tr>
<tr><td><%= link_to 'edit property', :action=>:edit %></td></tr>
<tr><td>
<%= link_to 'cast episode', :controller=>:caststudio, :action=>:run, 
  :format =>:jnlp, :s=>@episode.station %>
</td></tr>
</table>
<!-- layout --></td><td class="layout">

<h2>Episode</h2>
<table cellspacing="1" border="0">
<tr><th>id</th><td><%= @episode.id %></td></tr>
<tr><th>station</th><td><%= @episode.station %></td></tr>
<tr><th>title</th><td><%= @episode.title %></td></tr>
</table>

<h2>Mediaitems</h2>
<table cellspacing="1" border="0">
<tr><th>title</th><th>category</th><th>pubdate</th></tr>
<% @mediaitems.each do |i| %>
<tr>
<td>
<%=link_to i.title, :controller=>:mediaitem, :action=>:show, :id=>i.id %>
</td>
<td>
<%= i.category %>
</td>
<td>
<%= i.pubdate %>
</td>
</tr>
<% end %>
</table>

<!-- layout --></td></tr></table>
