<rss version="2.0">
<channel>
<title><%= @title %></title>
<link><%= url_for :controller=>:caststudio, :action=>:rpc, :only_path=>false %></link>
<description><%= @description %></description>
<language><%= @language %></language>
<pubDate><%= @pubdate_rfc822 %></pubDate>
<category><%= @ch_category %></category>
<docs>http://blogs.law.harvard.edu/tech/rss</docs>
<ttl><%= @ttl %></ttl>
<% @items.each do |i| -%>
<item>
<guid><%= i.id %></guid>
<title><%= i.title %></title>
<link><%= url_for :controller=>:caststudio, :action=>:rpc, :only_path=>false %></link>
<description><%= i.desc %></description>
<pubDate><%= i.pubdate_rfc822 %></pubDate>
<author><%= i.author %></author>
<category><%= i.category %></category>
<enclosure url="<%= url_for :controller=>:audio, :action=>i.filename_without_ext, 
    :format=>:wav, :only_path=>false %>" length="0" type="<%= i.filetype %>" />
</item>
<% end -%>
</channel>
</rss>
