<% if logged_in? -%>
<p>
You are logged in as <%= @user %>.
<%= link_to '[logout]', :controller => 'sessions', :action => 'destroy' %>
</p>
<% else -%>
<%   form_tag ({ :controller => 'sessions', :action => 'create' },
  { :multipart => true }) do -%>
<p>Login as User: <%= text_field_tag :user %>
Password:   <%= password_field_tag :password %>
<%= submit_tag 'login' %>
</p>
<%   end -%>
<% end -%>

<h1>Station</h1>

<ul>
  <li><a href="/station/index.html">/station/index.html</a></li>
</ul>

<h1>User</h1>

<ul>
  <li><a href="/user/index.html">/user/index.html</a></li>
</ul>

<h1>Mediaitem</h1>

<ul>
  <li><a href="/mediaitem/index.html">/mediaitem/index.html</a></li>
</ul>
