<% content_for :title do %> Channel List <% end %>

<% content_for :actions do %>
<table cellspacing="1" border="0">
<tr><td><%= link_to 'new channel', :action=>:new %></td></tr>
</table>
<% end %>

<h2>Channels</h2>
<table cellspacing="1" border="0">
<tr><th>name</th><th>title</th><th>episode</th><th>resource</th><th>sticker</th></tr>
<% @channels.each do |s| -%>
<tr>

<% if false %>
<td><%= link_to s.name, :action=>:show, :id=>s.id %></td>
<td><%= link_to s.title, :action=>:show, :id=>s.id %></td>
<td><%= link_to 'episodes', :controller=>:episode, :channel_id=>s.id %></td>
<td><%= link_to 'resources', :controller=>:resource, :channel_id=>s.id %></td>
<td><%= link_to 'stickers', :controller=>:sticker, :channel_id=>s.id %></td>
<% else %>
<td><%= link_to h(s.name), channel_path(s.id) %></td>
<td><%= link_to h(s.title), channel_path(s.id) %></td>
<td><%= link_to 'episodes', episode_index_path(:channel_id=>s.id) %></td>
<td><%= link_to 'resources', resource_index_path(:channel_id=>s.id) %></td>
<td><%= link_to 'stickers', sticker_index_path(:channel_id=>s.id) %></td>
<% end %>

</tr>
<% end -%>
</table>

