<h1>Channel List</h1>

<!-- layout --><table class="layout" cellspacing="1" border="0">
<!-- layout --><tr><td class="layout">
<table cellspacing="1" border="0">
<tr><td><%= link_to 'new channel', :action=>:new %></td></tr>
</table>

<!-- layout --></td><td class="layout">
<h2>Channels</h2>
<table cellspacing="1" border="0">
<tr><th>name</th><th>title</th><th>episode</th><th>resource</th><th>sticker</th></tr>
<% @channels.each do |s| -%>
<tr>
<td>
<%= link_to s.name, :action=>:show, :id=>s.id %>
</td>
<td>
<%= link_to s.title, :action=>:show, :id=>s.id %>
</td>
<td>
<%= link_to 'episodes', :controller=>:episode, :channel_id=>s.id  %>
</td>
<td>
<%= link_to 'resources', :controller=>:resource, :channel_id=>s.id  %>
</td>
<td>
<%= link_to 'stickers', :controller=>:sticker, :channel_id=>s.id  %>
</td>
</tr>
<% end -%>
</table>

<!-- layout --></td></tr></table>
