<h1>Station#index</h1>
<p>use 77735 for test.</p>
<table border="1">
<% @stations.each do |s| -%>
<tr>
<td><%= s.number %></td> 
<td><%= s.title %></td>
<td>
<%= link_to 'episodes', :controller => 'episode', 
  :action => 'list', :format => 'html', :station_id => s.id  %>
</td>
<td>
<%= link_to 'resources', :controller => 'resource', 
  :action => 'list', :format => 'html', :station_id => s.id  %>
</td>
<td>
<%= link_to 'stickers', :controller => 'sticker', 
  :action => 'list', :format => 'html', :station_id => s.id  %>
</td>
<td>
<%= link_to 'station', :action => 'show_station', :format => 'html', :id => s.id  %>
</td>
<td>
<%= link_to 'cast', :controller => 'caststudio', :action => 'run', 
  :format => 'jnlp', :s => s.number %>
</td>
</tr>
<% end -%>
</table>
