<h1>Resource List </h1>
<%= link_to 'new', :action => 'new'%>

<table cellspacing="1" border="0">
<% @resources.each do |i| -%>
<tr>
<td> <a href="<%=url_for :action => :show, :id => i.id %>"><%= i.title %></a> </td>
<td> <%= i.location %> </td>
<td> <%= i.last_update %></td>
</tr>
<% end -%>
</table>
