<h1>Resource List </h1>
<!-- layout --><table class="layout" cellspacing="1" border="0">
<!-- layout --><tr><td class="layout">
<table cellspacing="1" border="0"><tr>
<td><%= link_to 'new', :action => 'new'%></td>
</tr></table>
<!-- layout --></td><td class="layout">

<h2>Items</h2>
<table cellspacing="1" border="0">
<tr>
<th>title</th>
<th>location</th>
<th>update</th>
<th>item_count</th>
</tr>
<% @resources.each do |i| -%>
<tr>
<td> <%= link_to i.title,  :action => :show, :id => i.id %> </td>
<td> <%= i.location %> </td>
<td> <%= i.last_update.to_s(:short) %></td>
<td> <%= i.item_count %></td>
</tr>
<% end -%>
</table>
<!-- layout --></td></tr></table>
