<h1>Resource List </h1>
<table cellspacing="1" border="0"><tr>
<td><%= link_to 'new', :action => 'new'%></td>
</tr></table>

<h2>Items</h2>
<table cellspacing="1" border="0">
<tr>
<th>title</th>
<th>location</th>
<th>update</th>
<th>item_count</th>
</tr>
<% @resources.each do |i| -%>
<tr>
<td> <a href="<%=url_for :action => :show, :id => i.id %>"><%= i.title %></a> </td>
<td> <%= i.location %> </td>
<td> <%= i.last_update %></td>
<td> <%= i.item_count %></td>
</tr>
<% end -%>
</table>
