<% content_for :title do %>Resource Property<% end %>

<% content_for :actions do %>
<table cellspacing="1" border="0"><tr>
<td><%= link_to 'index', :action=>:index %></td>
</tr></table>
<% end %>

<table cellspacing="1" border="0">
<tr><th>title</th> <td><%= @resource.title %></td></tr>
<tr><th>item_count</th> <td><%= @resource.item_count %></td></tr>
</table>

<h2>Items</h2>

<table cellspacing="1" border="0">
<tr>
<th>action</th>
<% if false %><th>title</th><% end %>
<th>pubDate</th>
<% if false %><th>enclosure.type</th><% end %>
<th>enclosure.url</th>
</tr>
<% @items.each do |i| -%>
<tr>
<td><%= button_to 'import', :action=>:import, :id=>@resource.id,
 :import_pub_date=>i.pubDate, :import_url=>i.enclosure.url %></td>
<% if false %><td><%= i.title %></td><% end %>
<td><%= i.pubDate %></td>
<% if false %><td><%= i.enclosure.type %></td><% end %>
<td><%= i.enclosure.url %></td>
</tr>
<% end -%>
</table>

